beautifulsoup4==4.8.0
Flask==1.0.2
Flask-RESTful==0.3.7
httplib2==0.12.1
matplotlib==3.0.3
numpy==1.16.0
pandas==0.23.4
Pillow==8.1.1
py-trello==0.15.0
pylint==2.2.2
requests==2.21.0
scikit-learn==0.20.3
scipy==1.2.1
urllib3==1.24.1
Wikipedia-API==0.5.2
wordcloud==1.5.0
gunicorn==19.9.0